body,canvas {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    top: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 3;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    background-color: #fff;
    padding: 60px;
    height: 420px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    background-color: black;
  }
  
@keyframes animation {
    to {
      transform: translateY(-100vh);
    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}